@media (min-width: 768px) {

    #BUTTON17,
    #BUTTON18,
    #PARAGRAPH68,
    #GROUP55,
    #PARAGRAPH75,
    #SHAPE27,
    #PARAGRAPH79,
    #PARAGRAPH80,
    #PARAGRAPH81,
    #GROUP65,
    #GROUP68,
    #GROUP71,
    #GROUP73,
    #HEADLINE55,
    #GROUP75,
    #PARAGRAPH90,
    #SHAPE35,
    #PARAGRAPH91,
    #PARAGRAPH101,
    #FORM8,
    #PARAGRAPH102,
    #PARAGRAPH103,
    #PARAGRAPH104,
    #PARAGRAPH105,
    #HEADLINE68,
    #PARAGRAPH113,
    #IMAGE36,
    #GROUP103,
    #PARAGRAPH124,
    #IMAGE37,
    #GROUP106,
    #PARAGRAPH126,
    #GROUP111,
    #GROUP115,
    #GROUP116,
    #GROUP117,
    #GROUP118,
    #SHAPE50,
    #SHAPE51,
    #GROUP121,
    #PARAGRAPH130,
    #PARAGRAPH131,
    #SHAPE53,
    #HEADLINE87,
    #SHAPE54,
    #PARAGRAPH132,
    #PARAGRAPH155,
    #GROUP148,
    #GROUP149,
    #GROUP151,
    #GROUP152,
    #BUTTON37,
    #BUTTON38 {
        opacity: 1 !important;
        pointer-events: none !important;
    }
}

@media (max-width: 767px) {

    #HEADLINE3,
    #HEADLINE4,
    #HEADLINE5,
    #HEADLINE6,
    #IMAGE4,
    #HEADLINE8,
    #GROUP9,
    #BUTTON17,
    #BUTTON18,
    #GROUP53,
    #GROUP54,
    #IMAGE15,
    #PARAGRAPH68,
    #HEADLINE48,
    #GROUP55,
    #PARAGRAPH75,
    #SHAPE27,
    #GROUP64,
    #IMAGE19,
    #SHAPE30,
    #PARAGRAPH79,
    #PARAGRAPH80,
    #PARAGRAPH81,
    #LINE22,
    #GROUP65,
    #GROUP68,
    #GROUP71,
    #GROUP73,
    #HEADLINE55,
    #GROUP75,
    #PARAGRAPH90,
    #SHAPE35,
    #PARAGRAPH91,
    #PARAGRAPH100,
    #PARAGRAPH101,
    #FORM8,
    #BUTTON30,
    #PARAGRAPH102,
    #PARAGRAPH103,
    #PARAGRAPH104,
    #PARAGRAPH105,
    #HEADLINE68,
    #GROUP90,
    #PARAGRAPH113,
    #HEADLINE75,
    #IMAGE36,
    #GROUP103,
    #PARAGRAPH124,
    #IMAGE37,
    #GROUP106,
    #PARAGRAPH126,
    #GROUP108,
    #GROUP109,
    #PARAGRAPH127,
    #PARAGRAPH128,
    #GROUP111,
    #GROUP115,
    #GROUP116,
    #GROUP117,
    #GROUP118,
    #SHAPE50,
    #SHAPE51,
    #GROUP121,
    #PARAGRAPH130,
    #PARAGRAPH131,
    #SHAPE53,
    #HEADLINE87,
    #SHAPE54,
    #PARAGRAPH132,
    #VIDEO1,
    #SHAPE57,
    #PARAGRAPH155,
    #GROUP148,
    #GROUP149,
    #GROUP151,
    #GROUP152,
    #HEADLINE96,
    #BUTTON37,
    #BUTTON38,
    #GROUP158,
    #GROUP170,
    #GROUP171 {
        opacity: 1 !important;
        pointer-events: none !important;
    }
}