body {
    direction: ltr;
}

.ladi-wraper {
    margin: 0 auto;
    width: 420px;
}

@font-face {
    font-family: "VVRNIFZpYVyblKRidGY";
    src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/utm-viceroyjf-20240502170713-wbcvj.ttf") format("truetype");
}

@font-face {
    font-family: "VVZOQmVuWHVhblCLlRURg";
    src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/uvnbenxuan_b-20240502170726--zg9j.ttf") format("truetype");
}

@font-face {
    font-family: "VVRNIFllbiBUdSdGY";
    src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/utm-yen-tu-20240502170713-sukzp.ttf") format("truetype");
}

@font-face {
    font-family: "VkJIDIIExvdmUudHRm";
    src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/vni-24-love-20240502170958-gghl8.ttf") format("truetype");
}

body {
    font-family: "Open Sans", sans-serif
}